# TypeScript & JavaScript
*.ts       text eol=lf
*.tsx      text eol=lf
*.js       text eol=lf
*.jsx      text eol=lf

# JSON, HTML, CSS
*.json     text eol=lf
*.html     text eol=lf
*.css      text eol=lf
*.scss     text eol=lf
*.md       text eol=lf

# Images & binary files
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.svg      binary
*.ico      binary
*.webp     binary

# Other files (auto detect)
*          text=auto
