@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: Vazir;
  src: url("/fonts/vazir/Vazirmatn-Medium.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Morvarid;
  src: url("/fonts/morvarid/BMorvarid.woff");
  font-style: normal;
  font-weight: 400;
} */

@layer base {
  :root {
    --color-primary-400: #00aab2;
    --color-primary-500: #189ab4;
    --color-primary-600: #2c889a;
    --color-primary-700: #055772;
    --color-primary-800: #05445e;
    --color-light-100: #fafafa;
    --color-light-200: #f5f5f5;
    --color-light-300: #f0f0f1;
    --color-light-350: #e6e6e6;
    --color-light-400: #cdcdcd;
    --color-light-500: #bdbdbd;
    --color-dark-500: #7a7a7a;
    --color-dark-700: #1f2937;
    --color-warning-200: #ffcaca;
    --color-warning-500: #b91c1c;
    --color-warning-800: #7a0505;
  }
}

@layer components {
  .responsive__wrapper {
    @apply w-full max-w-[635px] px-0 py-16 sm:max-w-[760px] md:max-w-[720px] md:px-1 md:py-[9px] lg:max-w-[990px] lg:px-5 xl:max-w-[93%];
  }

  .transition-smooth {
    @apply transition-all duration-200 ease-in-out;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

html,
body {
  direction: rtl;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #fcfcfc;
}
